@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(5, 23, 34, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0px -2px 4px 0px rgba(64, 223, 255, 0.4) inset;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(5, 23, 34, 1);
  box-shadow: 0px -2px 4px 0px rgba(63, 218, 249, 0.4) inset;
  backdrop-filter: blur(10px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: rgba(5, 23, 34, 1);
  box-shadow: 0px -2px 4px 0px rgba(63, 218, 249, 0.4) inset;
  backdrop-filter: blur(10px);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.1px;
  letter-spacing: -4%;
  border-bottom-width: 1px;
  padding: 8px;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 45px;
  height: 45px;
  border-radius: 300px;
  box-shadow: 0px 0px 4px 0px rgba(64, 223, 255, 1);
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin: 0 100px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 78px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.1px;
    letter-spacing: -4%;
    color: rgba(255, 255, 255, 1);

    padding: 8px;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 584px;
  padding: 96px 13px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 2389.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -6px;
  text-shadow: 0px 0px 20px rgba(64, 223, 255, 1);
  color: rgba(64, 223, 255, 1);
}

.home-text {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 25px;
  line-height: 32.97px;
  letter-spacing: -2px;
  color: rgba(64, 223, 255, 1);
  padding: 10px 0 20px;
}
.home-text-two {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: -4%;

  padding: 0px 0 20px;
}
.home__google-button_image {
  width: 244px;
  height: 104px;
  margin-left: -16px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 831px;
    padding: 78px 155px 0px;
    background-image: url("/img/home/Frame\ 2390.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 200px;
    line-height: 263.77px;
    letter-spacing: -8px;
  }

  .home-text {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.75px;
    letter-spacing: -8%;

    padding: 0px 0 36px;
  }
  .home-text-two {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: -4%;
    text-align: center;
    padding: 0px 0 40px;
  }
}
.about {
  padding: 25px 17px 0px;
  margin: auto;
  width: 375px;
  height: 751px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/about.png");
}

.about-title {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 29.01px;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(64, 223, 255, 1);
  text-shadow: 0px 0px 5px rgba(64, 223, 255, 1);
}

.about-text {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

  padding: 25px 0px 30px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 56px 72px 0px;
    width: 1440px;
    height: 647px;

    background-image: url("/img/about/about\ \(1\).png");
  }

  .about-title {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -4%;
  }

  .about-text {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: -4%;
    width: 636px;
    padding: 56px 0px 28px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 45px 35px;
}

.how-list {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.how-item {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.how-img {
  width: 70px;
  height: 70px;
}
.how-text-bold {
  padding: 20px 0 10px;

  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(64, 223, 255, 1);
}
.how-text {
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 100px 72px;
  }

  .how-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 189px;
    row-gap: 74px;
  }
  .how-item {
    width: 306px;
  }
  .how-img {
    width: 86px;
    height: 86px;
  }
  .how-text-bold {
    padding: 24px 0 8px;
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
    text-align: right;
  }
  .how-text {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: right;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 30px 15px;
}

.reviews-list {
  padding-top: 20px;
}
.reviews-item {
  margin: 0 5px;
  width: 325px;
  height: 225px;
  padding: 9px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/review\ container.png");
}

.reviews-text-bold {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 20px;
  line-height: 26.38px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(64, 223, 255, 1);
  padding-top: 34px;
}
.reviews-text {
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 20px;
  line-height: 26.38px;
  letter-spacing: 0%;
  text-align: right;
  height: 156px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: -20px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  border: 1px solid transparent;
}

.gallery-button:hover {
  scale: 120%;

  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 1);
}
.gallery-button-icon {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 56px 72px;
  }

  .reviews-list {
    padding-top: 24px;
  }
  .reviews-item {
    margin: 0 18px;
    width: 417px;
    height: 236px;
    padding: 32px 15px 0;
    background-image: url("/img/reviews/review\ container\ \(1\).png");
  }

  .reviews-text-bold {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
    text-align: right;
    padding-right: 21px;
    padding-top: 71px;
  }
  .reviews-text {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: right;

    height: 104px;
  }

  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-top: -20px;
  }
  .gallery-button-icon {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }
  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
    border: 1px solid transparent;
  }

  .gallery-button:hover {
    scale: 120%;

    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.faq {
  padding: 25px 15px;
  margin: auto;
  width: 375px;
  min-height: 622px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/faq/faq.png");
}
.faq-container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq-item {
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(64, 223, 255, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 0px rgba(64, 223, 255, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.1px;
  letter-spacing: 0%;

  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;

  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.1px;
  letter-spacing: 0%;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 56px 72px;
    width: 1440px;
    min-height: 1116px;

    background-image: url("/img/faq/faq\ \(1\).png");
  }
  .faq-container {
    padding-top: 56px;
    gap: 48px;
  }

  .faq-item {
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(64, 223, 255, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 0px rgba(64, 223, 255, 1);
  }

  .faq-question {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.65px;
    letter-spacing: 0%;
    padding: 24px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .faq-answer {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.65px;
    letter-spacing: 0%;
    padding: 24px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, 1);
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 45px 0px 50px;
}

.gallery__list {
  width: 345px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: auto;
}
.gallery__item {
  width: 345px;
  height: 230px;
  border-radius: 16px;
  border: 1px solid rgba(64, 223, 255, 1);
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before {
  content: none;
  display: none;
}
.slick-next:before {
  content: none;
  display: none;
}
.slick-next {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  content: none;
}

.slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  content: none;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/gallery/Ellipse\ 11\ \(1\).png") no-repeat center/cover;
  font-size: 0;
  content: none;
}

.slick-dots li.slick-active button {
  background: url("/img/gallery/Ellipse\ 15\ \(1\).png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .slick-prev:before {
    content: url("/img/gallery/navigation\ \(2\).png");
    display: flex;
    margin-left: -55px;
    transition: all 0.3s ease-in-out;
    width: 48px;
    height: 48px;
    top: 40px;
    border-radius: 4px;

    top: 366px;
    border-radius: 4px;
  }
  .slick-next:before {
    content: url("/img/gallery/navigation\ \(3\).png");
    display: flex;
    margin-left: 30px;
    transition: all 0.3s ease-in-out;
  }
  .slick-next {
    display: flex;
  }
  .slick-next:hover:before {
    transform: scale(1.2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .slick-prev:hover:before {
    transform: scale(1.2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 56px 72px;
  }

  .gallery__list {
    width: 1074px;
    padding-top: 56px;
    padding-bottom: 56px;
    margin: auto;
  }
  .gallery__item {
    width: 1074px;
    height: 564px;
    border-radius: 16px;

    border: 1px solid rgba(64, 223, 255, 1);
    overflow: hidden;
    position: relative;
    margin: 0 10px;
  }

  .slick-dots {
    display: none;
  }
  .slick-dots li {
    display: none;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 45px 35px;
}

.features-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features-item {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.features-img {
  width: 70px;
  height: 70px;
}
.features-text-bold {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  text-align: right;
  padding: 20px 0 10px;
  color: rgba(64, 223, 255, 1);
}
.features-text {
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 100px 72px;
  }

  .features-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 189px;
    row-gap: 48px;
  }
  .features-item {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 306px;
  }
  .features-img {
    width: 86px;
    height: 86px;
  }
  .features-text-bold {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
    text-align: right;
    padding: 24px 0 8px;
  }
  .features-text {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: right;
  }
}
.footer {
  background: rgba(0, 0, 0, 1);
  padding: 28px 15px 22px;
}
.footer-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 67px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 61px;
}
.footer-text {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.1px;
  letter-spacing: -4%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.94px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 26px 72px 24px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 92px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 400px;
  }
  .footer-text {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.1px;
    letter-spacing: -4%;
  }

  .footer-copyright {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 111px 15px 50px;
}
.policy-terms-title {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 29.01px;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(64, 223, 255, 1);
  text-shadow: 0px 0px 5px rgba(64, 223, 255, 1);
}

.policy-terms-text {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
  color: rgba(64, 223, 255, 1);
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 134px 72px 100px;
  }
  .policy-terms-title {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -4%;
  }

  .policy-terms-text {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px 15px;
  background: rgba(238, 238, 238, 1);
  text-align: center;
  z-index: 1000;
  display: none;
}

.cookie-popup-text-two {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(5, 23, 34, 1);
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: 1px solid rgba(5, 23, 34, 1);
  background-color: transparent;
  width: 196px;
  height: 54px;
  padding: 8px;
  border-radius: 36px;
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  letter-spacing: 0%;
  color: rgba(5, 23, 34, 1);
  text-align: center;
}
#accept-cookies {
  background: rgba(5, 23, 34, 1);
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    text-align: left;
    width: 845px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px 72px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
